# Visual Studio
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

# Build results
bin/
obj/

# Rider
.idea/

# Visual Studio Code
.vscode/

# NuGet
*.nupkg
packages/

# Azure
.env

# OS files
Thumbs.db
.DS_Store

# Visual Studio index files
*.vsidx
